@media(max-width: 1150px) {
    .header-right {
        display: none;
    }
    .header-center{
        display: none;
    }
    .menu-icon {
        color: gray;
        float: right;
        font-size: 25px;
        padding: 21px 0;
      }
      /*//////ハンバーガーメニュー/////*/
	.logo2{
		width:7vw;
		height:2.5vw;
		margin:0.7vw 0vw 0vw 3vw;
	}
	.header-ui{
		display:none;
	}
	.scrollgress{
		display:none;
	}
	.header{
		display:none;
	}
	.menu-btn {
		position: absolute;
		z-index: 100px;
		position: fixed;
		top: 0px;
		right: 1vw;
		display: flex;
		height: 73px;
		width: 8vw;
		justify-content: center;
		align-items: center;
		z-index: 90;
		background-color: #b9b9b9;
	}
	.menu-btn span,
	.menu-btn span:before,
	.menu-btn span:after {
		position: absolute;
		z-index: 100px;
		content: '';
		display: block;
		height: 0.9vw;
		width: 5.5vw;
		border-radius: 0.1vw;
		background-color: #ffffff;
	}
	.menu-btn span:before {
		bottom: 10vw;
	}
	.menu-btn span:after {
		top: 0.3vw;
	}
	#menu-btn-check:checked ~ .menu-btn span {
		background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
	}
	#menu-btn-check:checked ~ .menu-btn span::before {
		bottom: 0;
		transform: rotate(45deg);
	}
	#menu-btn-check:checked ~ .menu-btn span::after {
		top: 0;
		transform: rotate(-45deg);
	}
	#menu-btn-check {
		display: none;
	}
/*メニュー装飾*/
	.menu-content {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 80;
		background-color: #b9b9b9;
	}
	.menu-content ul {
		padding: 70px 10px 0;
	}
	.menu-content ul li {
		border-bottom: solid 1px #ffffff;
		list-style: none;
	}
	.menu-content ul li a {
		display: block;
		width: 100%;
		font-size: 15px;
		box-sizing: border-box;
		color:#ffffff;
		text-decoration: none;
		padding: 9px 15px 10px 0;
		position: relative;
	}
	.menu-content ul li a::before {
		content: "";
		width: 7px;
		height: 7px;
		border-top: solid 2px #ffffff;
		border-right: solid 2px #ffffff;
		transform: rotate(45deg);
		position: absolute;
		right: 11px;
		top: 16px;
	}
    /*ボタンを押すとメニューが出てくる*/
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;/*leftの値を変更してメニューを画面外へ*/
        z-index: 80;
        background-color: #3584bb;
        transition: all 0.5s;/*アニメーション設定*/
    }
    #menu-btn-check:checked ~ .menu-content {
        left: 0;/*メニューを画面内へ*/
    }
}
@media (min-width: 1150px){
    .hamburger-menu {
        display: none;
    }
}
/* @media(max-width: 800px) {
    .wrapper2 {
        margin: 0px auto;
    } */
    /* header */
    /* .header-left img { */
        /* opacity: 0.8; */
        /* float: left;
        height: 45px;
        width: 145px; */
        /* border-radius: 50%; */
        /* margin-top: 10px;
        margin-left: 15px; */
        /* border-bottom: 3px rgba(29, 16, 104) solid; */
    /* } */
    /* .header-right {
        display: none;
    } */
    /* .menu-icon {
        float: right;
        margin-right: 15px;
        display: block;
        color: rgb(128, 128, 128);
    } */
    /* top */
    /* .top {
        height: 400px; */
        /* background-color: tomato; */
        /* margin-top: 70px;
        margin-bottom: 70px;
    }
    .top-left {
        float: left;
        margin-left: 25px;
        margin-top: 10px;
        font-family: monospace;
        color: rgba(77, 77, 77);
    }
    .top-left h3 {
        font-size: 20px;
        font-family: serif;
    }
    .top-left img {
        height: 70%;
        width: 80%;
    }
    .news {
        margin-top: 100px;
        border: 1px gray solid;
    } */
    /* .top-right {
        float: none;
    } */

    /* about */
    /* .about { */
        /* margin-top: 50px; */
        /* padding-top: 0px; */
        /* background-color: yellow; */
        /* height: 500px;
        text-align: center;
    }
    .about img {
        height: 65%;
        width: 65%;
    } */
    /* service */
    /* .service { */
        /* background-color: thistle; */
        /* height: 1500%;
        margin-top: -50px;
    }
    .service_title {
        height: 40%;
        width: 40%;
    }
    .service_1_a {
        float: center;
        width: 110%;
        margin-top: 20px;
    }
    .service_2_a {
        float: center;
        float: center;
        width: 110%;
        margin-top: 20px;
    }
    .service_3_a {
        float: center;
        width: 110%;
        margin-top: 20px;
    }
    .btnripple2{ */
        /*波紋の基点とするためrelativeを指定*/
        /* position: relative; */
        /*波紋の形状*/
        /* display:inline-block;
        background:rgba(29, 16, 104);
        width:40px;
        height:40px;
        border-radius: 50%;
        color:#ccc;
        outline: none; */
        /*アニメーションの設定*/
        /* transition: all 6s;
    } */
    /* work */
    /* .work {
        margin-bottom: -20px;
    }
    .work_title {
        height: 40%;
        width: 40%;
    }
    .slider {
        height: 100px;
        width: 500px;
        margin: 0 auto;
    }
    .map {
		display: inline-block;
		margin-top: 70px;
		top: 300px;
	}
    .location_map {
		padding-top: 200px;
        text-align: center;
        margin: 0;
    }
    #container{
		height: 200px;
    } */

/* } */
