/* 共通 */
* {
    box-sizing: border-box;
}
.wrapper2 {
    margin-left: 120px;
    margin-right: 120px;
}
body {
    margin: 0;
}
/* header */

header {
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
    line-height: 35px;
    height: 73px;
    width: 100%;
    position: relative;
    position: fixed;
    top: 0px;
    z-index: 10;
}
.header-left {
    float: left;
  }
.header-left img {
    float: left;
    height: 46px;
    /* height: 2.4vw; */
    /* width: 180px; */
    width: 13vw;
    /* margin-left: 52px; */
    margin-left: 3.5vw;
    margin-top: 17px;
    /* margin-top: 1vw; */
}

ul {
    list-style: none;
}
.header-right {
    float: right;
    width: 27%;
    position: absolute;
    top: 0px;
    right: 0px;
}
.header-center {
    float: left;
    margin-left: 17%;
    /* width: 40px; */
}
.header-center li {
    float: left;
    width: 15%;
    padding: 25px;
}
.header-center p {
    margin-top: 30px;
    float: left;
}
.header-right li {
    float: left;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 65px;
    padding-left: 65px;
}
.li_a {
    width: 80px;
    height: 45px;
    font-family: Assistant;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 33px;

    color: #6F6F6F;
}
.header_line {
	/* position: absolute; */
    width: 0.1vw;
    height: 1.5vw;
    margin: 1.1vw 0vw 0vw 3vw;
    background: #6F6F6F;
}
.li_b {
    width: 119px;
    height: 45px;
    font-family: Assistant;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 33px;
    margin-right: 27px;
    color: #6F6F6F;
}
.li_c {
    width: 98px;
    height: 45px;
    font-family: Assistant;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 33px;
    color: #6F6F6F;
}
.li_d {
    width: 138px;
    height: 73px;
    padding-left: 5px;
    background: #C4C4CA;
    /* border: 1px solid #000000; */
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}
.li_d:active {
    position: relative;
    top: 4px;
    box-shadow: none;
}
.li_e {
    width: 100%;
    display: inline-block;
    height: 73px;
    font-size: 19px;
    background: #3D4089;
    /* border: 1px solid #000000; */
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}
.li_e:active {
    position: relative;
    top: 4px;
    box-shadow: none;
}
.mail_logo {
    position: absolute;
    top: 19px;
    left: 1vw;
    width: 80%;
    height: 80%;
}
.li_e p {
    position: absolute;
    top: 24px;
    left: 4vw;
    margin-left: 0.2vw;
}
.li_d p {
    position: absolute;
    top: 24px;
    left: 3vw;
    width: 100%;
}

.recruit {
    width: 10px;
    height: 45px;

    font-family: Assistant;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7vw;
    line-height: 2.1vw;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}
.fa-envelope {
    margin-right: 5px;
}
.contact {
    width: 150px;
    height: 45px;

    font-family: Assistant;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7vw;
    line-height: 2.1vw;

    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* main */
/* top */
.top {
    height: 899px;
    margin-top: 150px;
}
.top-left {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    font-family: monospace;
    color: rgba(77, 77, 77);
}
.top-left h3 {
    font-size: 2.1vw;
    font-family: serif;
    letter-spacing: 0.22vw;
}
.top-left img {
    width: 65vw;
    height: 16vw;
    transform: rotate(-3.91deg);
    -moz-transform: rotate(-3.91deg);
    -webkit-transform: rotate(-3.91deg);
}
.top-right {
    float: right;
}
.news tr {
    border: 0.12vw solid #4F4F4F;
    display: inline-block;
    width: 52.25vw;
    height: 13.16vw;
}
.news {
    color: #4F4F4F;
    margin-top: 8.333vw;
}
.news_title {
    border-right: 0.12vw solid #6F6F6F;
    padding: 5.5vw 3.75vw 4.75vw;
    width: 5.1vw;
    font-family: Assistant;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 2.75vw;
}
.news_li {
    text-align: left;
    padding-left: 6.25vw;
    width: 38.245vw;
    margin-left: 2.5vw;
    font-family: Hiragino Kaku Gothic Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.66vw;
    line-height: 2.5vw;
    letter-spacing: 0.1em;
    color: #4F4F4F;
}

/* about */
.paragraph_line { /*線*/
    position: absolute;
    top: -190px;
    left: -100px;
    width: 70vw;
    height: 0.1vw;
    margin: 9vw 0vw 0vw 15vw;
    background: #4F4F4F;
}

.section_title {
    width: 299.45px;
    height: 191.7px;
    margin-bottom: 100px;
    /* background-color: gray; */
    display: inline-block;
    position: relative;
}
.section_title_part1 {
    position: relative;
    top: 3px;
    left: 2px;
    font-family: adore-you, sans-serif;
    font-size: 9vw;
    color: rgb(0,113,183,0.3);
    transform: rotate(-9deg);
}

.section_title_part2 {
    position: absolute;
    top: 140px;
    left: 95px;
    font-family: yu-mincho-pr6n, sans-serif;
    font-size: 2.5vw;
    letter-spacing: 0.5vw;
}

.section_title_part3 {
    position: absolute;
    top: 220px;
    left: 120px;
    width: 5vw;
    height: 0.5vw;
    background: #524B82;
}
.about {
    height: 1250px;
}
/* .abouto{
	position: relative;
	z-index: 8px;
	font-family: adore-you, sans-serif;
	font-size: 10vw;
	top: 2vw;
	left: 12vw;
	color: rgb(0,113,183,0.3);
	transform: rotate(-9deg);
} */

/* .yoshiisan{
	position: absolute;
	width: 18vw;
	height: 23vw;
	margin: -27vw 0vw 0vw 53vw;
} */

/* .yoshiisyatyou{
	position: absolute;
	font-family: Hiragino Kaku Gothic Pro;
	margin: -3.5vw 0vw 0vw 57.5vw;
	font-size: 2vw;
	color: #4F4F4F;
} */

/* .yoshiisyatyou2{
	position: absolute;
	font-family: Hiragino Kaku Gothic Pro;
	margin: -2.6vw 0vw 0vw 64.5vw;
	font-size: 1.3vw;
	color: #4F4F4F;
} */

/* .keiei{
	font-family: yu-mincho-pr6n, sans-serif;
	font-size: 2.5vw;
	position: absolute;
	z-index: 9px;
	left: 21vw;
	top: 55vw;
	letter-spacing: 0.5vw;
} */

/* .p2{
	position: absolute;
    width: 5vw;
    height: 0.5vw;
    margin: -4.5vw 0vw 0vw 24vw;
    background: #524B82;
} */

.about_info {
    text-align: center;
    padding: 0 30px;
    margin-top: -150px;
    /* margin: 0vw auto; */
}
.about_info h1 {
    /* border-bottom: 1px solid #3D4089; */
    font-size: 51px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 36px;
    letter-spacing: 5px;
    color:  #3D4089;
}
.about_info p {
	font-family: yu-mincho-pr6n, sans-serif;
	font-size: 1.8vw;
    line-height:2.8vw;
    letter-spacing: 5px;
    color: #6F6F6F;
}
.about_info img {
    border-radius: 50%;
    object-fit: cover;
    margin-top: 40px;
    margin-bottom: 55px;
    width: 350px;
    height: 350px;
}

.span {
    color: red;
}

.saiyou {
   color: #4F4F4F;
   position: absolute;
   z-index: 9px;
   font-family: Hiragino Kaku Gothic Pro;
   font-style: normal;
   font-weight: normal;
   letter-spacing: 0.1em;
   font-size: 1.7vw;
   margin: 5.3vw 0vw 0vw 26vw;
}

.otoiawase {
   color: #4F4F4F;
   position: absolute;
   z-index: 9px;
   font-family: Hiragino Kaku Gothic Pro;
   font-style: normal;
   font-weight: normal;
   letter-spacing: 0.1em;
   font-size: 1.7vw;
   margin: 5.3vw 0vw 0vw 49vw;
}

.y1{
   position: absolute;
   z-index: 9px;
   width: 1vw;
   height: 1vw;
   border: 0.1vw solid;
   border-color: #4F4F4F #4F4F4F transparent transparent;
   transform: rotate(45deg);
   margin: 6vw 0vw 0vw 34vw;
}

.y2{
	position: absolute;
    z-index: 9px;
	width: 1vw;
	height: 1vw;
	border: 0.1vw solid;
	border-color: #4F4F4F #4F4F4F transparent transparent;
	transform: rotate(45deg);
	margin: 6vw 0vw 0vw 61.8vw;
 }

 .saiyou-boder{
	position: absolute;
	z-index: 9px;
	margin: 3vw 0vw 0vw 19vw;
	width: 23vw;
	height: 7vw;
    line-height : 1.8 ;
    border : solid 0.1vw #333 ;
 }

 .saiyou-boder:hover{
	background-color: rgb(0,113,183,0.1);
 }

 .otoiawase-boder{
	position: absolute;
	z-index: 8px;
	margin: 3vw 0vw 0vw 44vw;
	width: 23vw;
	height: 7vw;
    line-height : 1.8 ;
    border : solid 0.1vw #333 ;
 }

 .otoiawase-boder:hover{
	 background-color: rgb(0,113,183,0.1);
 }


/* service */
.service {
    /* background-color: black; */
    height: 1550px;
}
.services {
    /* text-align: center; */
    height: 1300px;
    margin-left: 130px;
    /* position: relative; */
}
.service_part {
    position: relative;
    margin-bottom: 150px;
    margin-top: 50px;
}
.cd {
    clear: both;
}
.service_content {
    position: relative;
}
.service_content p {
    position: absolute;
    top: 25px;
    left: 5px;
    font-family: Hiragino Kaku Gothic Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.1em;

    color: #4F4F4F;
}
.service_left_1 {
    position: absolute;
    top: -12.5vw;
    left: 10.625vw;
    margin-left: 6.25vw;
    display: inline-block;
}
.service_left_2 {
    position: absolute;
    top: 9.375vw;
    left: 10.625vw;
    margin-left: 6.25vw;
    display: inline-block;
}
.service_left_3 {
    position: absolute;
    top: 31.25vw;
    left: 10.625vw;
    margin-left: 6.25vw;
    display: inline-block;
}
.service_right_1 {
    position: absolute;
    top: -6.6875vw;
    left: 43.75vw;
    height: 10.3125vw;
    width: 26.625vw;
    display: inline-block;
}
.service_right_1 a:hover {
    font-size: 1.2em;
    font-weight: bold;
    color: #524B82;
}
.service_right_3 a:hover {
    font-size: 1.2em;
    font-weight: bold;
    color: #524B82;
}
.service_right_2 {
    position: absolute;
    top: 16.5625vw;
    left: 43.75vw;
    height: 10.3125vw;
    width: 26.625vw;
    display: inline-block;
}
.service_right_3 {
    position: absolute;
    top: 38.625vw;
    left: 43.75vw;
    height: 10.3125vw;
    width: 26.625vw;
    display: inline-block;
}
.service_img {
    width: 25vw;
    height: 25vw;
}
.service_title_line {
    width: 0.5vw;
    height: 3vw;
    background: #524B82;
    /* margin-left: 5px; */
}
.sub_title {
    margin-bottom: 3.125vw;
    font-family: Hiragino Kaku Gothic Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25vw;
    line-height: 1.875vw;
    letter-spacing: 0.1em;
    color: #4F4F4F;
    position: relative;
}
.sub_title p {
    display: inline-block;
    /* float: left; */
    font-family: Hiragino Kaku Gothic Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.0625vw;
    line-height: 1.5625vw;
    letter-spacing: 0.1em;
    color: #4F4F4F;
    position: absolute;
    top: 0px;
    left: 0px;
}
.sub_title h3 {
    /* margin-left: -15px; */
    /* padding-top: 3px; */
    display: inline-block;
    position: absolute;
    top: 0.3125vw;
    left: 1.875vw;
}


/* works */

/*==================================================
スライダーのためのcss
===================================*/
.slider2 {/*横幅94%で左右に余白を持たせて中央寄せ*/
	width:80%;
    margin:0 auto;
}

.slider2 img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider2 .slick-slide {
    margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick2-prev,
.slick2-next {
    position: absolute;/*絶対配置にする*/
    top: 22%;
    left: 105%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick2-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick2-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick2-dots {
    text-align:center;
    margin: 2vw 0vw 0vw 0vw;
}

.slick2-dots li {
    display:inline-block;
    margin:0 0.5vw;
}

.slick2-dots button {
    color: transparent;
    outline: none;
    width:1vw;/*ドットボタンのサイズ*/
    height:1vw;/*ドットボタンのサイズ*/
    display:block;
    border-radius:5vw;
    margin: 0vw 0vw 0vw 0vw;
    background:#ccc;/*ドットボタンの色*/
}

.slick2-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}

.works {
    height: 900px;
    position: relative;
}
.div {
    position: absolute;
    top: 0px;
    left: 0px;
}

/* info */
.info {
    height: 1000px;
    background: #F7F8F6;
    /* background: yellow; */
    background-size: cover;
    padding: 100px;
    text-align: center;
    position: relative;
    font-size: 30px;
}
/* .bak{
	width: 100%;
	height: 76vw;
} */

.mapu{
	width: 90%;
    height: 30vw;
}

.info_top {
    /* width: 100%; */
    display: inline-block;
    position: absolute;
    top: 50px;
}
/* .info_top .mapu {

} */
.info_under {
    display: inline-block;
    position: absolute;
    top: 600px;
}
.info1{
    margin-top: 70px;
    margin-bottom: 40px;
	font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 0.1em;

    color: #4F4F4F;
}

.info2 .info3{
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: 0.1em;
    color: #4F4F4F;
}

/* footer */
footer {
    width: 100%;
    height: 88px;
    background: #3C3E6F;
}

footer p {
    text-align: center;
    /* width: 312px; */
    height: 29px;


    font-family: Hiragino Kaku Gothic Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 88px;
    letter-spacing: 0.1em;

    color: #FFFFFF;
}


/* スライドショー実装 */
.slider2 {
    position:relative;
	z-index: 1;
	/*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
	height: 100vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}
/*　背景画像設定　*/

.slider2-item01 {
    background:url(images/servlce.png);
}

.slider2-item02 {
    background:url(images/syatyuo.png);
}

.slider2-item03 {
    background:url(../img/img_03.jpg);
}

.slider2-item {
    width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height:70vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    background-repeat: no-repeat;/*背景画像をリピートしない*/
    background-position: center;/*背景画像の位置を中央に*/
    background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick2-prev,
.slick2-next {
    position: absolute;/*絶対配置にする*/
	z-index: 3;
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #ccc;/*矢印の色*/
    border-right: 2px solid #ccc;/*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick2-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}

.slick2-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick2-dots {
	position: relative;
	z-index: 3;
    text-align:center;
	margin:-50px 0 0 0;
}

.slick2-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick2-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick2-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}
/* スライドショー実装 */
/* map */
.location_map {
    /* padding-top: -30px; */
    text-align: center;
    margin: 0;
}
/* info */
/* .info {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}
.info p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.info_name {
    font-size: 30px;
} */
