
.hp2 {
    margin-bottom: 170px;
    margin-top: 100px;
}

.web_make_under {
    text-align: center;
    position: relative;
}
.btn {
    /* background: #78e5e5; */
    /* position: absolute;
    top: 0px;
    left: 550px; */
    margin: -30px auto 170px;
}
/* button */
a.btn--blue.btn--border-double {
    border: 8px double #0090bb;
    width: 22%;
    height: 70px;
    line-height: 38px;
    font-size: 1vw;
    letter-spacing: 2px;
    font-family: monospace;
  }
  .btn:hover {
      background-color: #0090bb;
      color:white;
  }
/* button */